<body style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;display: flex;place-items: center;flex-direction: column;gap: 30px;padding: 10px 100px;">
    <div style="padding: 5px;display: flex;flex-direction:column;place-items: center;">
        <img style="height: 70px;" src="../images/FestariEstatesLogo.png" alt="Festari Estate logo"/>
        <img style="width: 250px;" src="../images/FestariEstatesText.png" alt="Festari Estate logo"/>
    </div>
    <div style="display: grid; place-items: center; background-color: rgb(196, 196, 196);border-radius: 10px;padding: 5px 10px;">
        <h1 style="font-size: 20px;font-weight:400;margin: 5px 0;color: rgb(22, 22, 22);border-radius: 50%;">You login OTP is:</h1>
        <h3 style="font-size: 40px;margin:  25px 0;padding: 10px 20px;background-color:white;"> {{ OTP }}</h3>
        <p style="text-align: center;color: rgb(22, 22, 22);">This PIN is valid for 5 minutes after which you would have to request for another PIN.</p>
    </div>
</body>