@import "tailwindcss";

/* Custom orange scrollbar for WebKit-based browsers */
.scrollbar-orange::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
.scrollbar-orange::-webkit-scrollbar-track {
	background: transparent;
}
.scrollbar-orange::-webkit-scrollbar-thumb {
	background-color: #BE4D00;
	border-radius: 9999px;
}

/* Firefox scrollbar */
.scrollbar-orange {
	scrollbar-color: #BE4D00 transparent;
	scrollbar-width: thin;
}

/* Marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
