<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="color: black; font-size: 16px; background-color: #F2F2F2;padding: 20px 20px;">
  <div style="background-color: white;width: 95%;padding: 20px 10px 20px 10px;">
    <h1 style="font-weight: 900; font-size: 40px;">Festari Estates Online</h1>
  </div>
  <h2 style="font-size: 20px">Your Festari verification code</h2>
  <p>Hi {{NAME}},</p>
  <p>To finish verifying your Festari Estates Online account, enter this verification code.</p>
  <p style="font-weight: bold;">Do not share this code with anyone. Festari staff will never ask you for the code.</p>
  <div style="background-color: white;width: 95%;padding: 20px 10px 20px 10px;">
    <h1 style="color: black; font-weight: 900;">{{OTP}}</h1>
  </div>
  <p>If you didn't make this request or you need assistance, visit our help center.</p>
</body>
</html>